@charset "utf-8";


:root {
    --main-color: #6abd74;
    --sec-color: #428162;
    --bg1-color: #2a2a2a;
    --bg2-color: #1d1d1d;
    --text-color: #363636;
}


body {
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;
    color: var(--text-color);
    max-width: 100%;
    overflow-x: hidden;
    letter-spacing: 2px;
    background: #f1f1f1;
}


li {
    list-style: none
}

a {
    text-decoration: none;
    transition: .2s;
    -webkit-transition: .2s;
    color: #3e3e3e;
}

a:hover {
    color: #eeeeee37;
}

a:visited {
    color: #3d3d3d;
}


a:active {
    color: #fefefe51;
}

#cssmenu #menu-button {
    display: none;
}


::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(228, 228, 228, 0.719);
    border-radius: 999px;
    border: 5px solid transparent;
    background-clip: content-box;

}

::-webkit-scrollbar-track-piece {
    background: #1f1f1f;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
    display: block;
}

section {
    height: 100vh;
    position: relative;
}

#gotop {
    display: none;
    position: fixed;
    right: 3%;
    bottom: 50px;
    border-radius: 7px;
    background: #ffffffa3;
    box-shadow: 4px 6px 19px 0px #7d7a7a82;
    padding: 12px 13px;
    color: #5f5f5f;
    cursor: pointer;
    z-index: 99;
    border: #ffffff 2px solid;
}

#gotop:hover {
    bottom: 48px;
    opacity: 1;
    background: #ffffff;
    box-shadow: 0px 2px 11px 0px #d4d4d444;

}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);

}



.next {
    width: 80px;
    height: 50px;
    padding-top: 25px;
    margin: auto;
    text-align: center;
    /* background: #afafaf; */
    border-radius: 20px;

    /* animation-name: next; */
    animation-duration: .6s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}

@keyframes next {
    0% {
        padding-top: 25px
    }

    100% {
        padding-top: 30px;
        height: 45px;
    }

}

.next a {
    width: 80px;
    height: 50px;
    color: #6a6a6a;
    display: block;
}


.next-arrow {
    border: solid rgb(129 129 129);
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(44deg);
}



.next-btn {
    position: absolute;
    height: 20px;
    top: 88vh;
    left: 48.5vw;
    z-index: 55;
    color: #ffffff;
}


.next-btn2 {
    position: absolute;
    bottom: 0;
    left: 48.5vw;
    z-index: 999;
    color: #1c1c1c;
}



.mouse {
    width: 50px;
    height: 50px;
    border-radius: 60px;
    position: relative;

    &::before {
        content: '';
        width: 7px;
        height: 7px;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f1f1f1;
        border-radius: 50%;
        opacity: 1;
        animation: wheel 2s infinite;
        -webkit-animation: wheel 2s infinite;
    }
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 30px;
    }


}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 30px;
    }
}



.mouse2 {
    width: 50px;
    height: 70px;
    border-radius: 60px;
    position: relative;

    &::before {
        content: '';
        width: 3px;
        height: 3px;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f1f1f1;
        border-radius: 50%;
        opacity: 0;
        animation: wheel2 2s infinite;
        animation-delay: 1s;
        animation-duration: .5s;
        -webkit-animation: wheel2 2s infinite;
    }
}


@keyframes wheel2 {
    0% {
        opacity: 0;
        top: 50px;
        width: 5px;
        height: 5px;
    }

    50% {
        opacity: .8;
        top: 80px;
    }

    75% {
        opacity: .6;
        top: 100px;
        width: 4px;
        height: 4px;
    }

    100% {
        opacity: 0;
        top: 100px;
        width: 4px;
        height: 4px;
    }
}

@-webkit-keyframes wheel2 {
    0% {
        opacity: 0;
        top: 50px;
        width: 2px;
    }

    50% {
        opacity: 1;
        top: 80px;
        width: 3px;
    }

    80% {
        opacity: 0;
        top: 100px;
        width: 5px;
    }

    100% {
        opacity: 0;
        top: 100px;
        width: 8px;
    }
}


.tit-color {
    color: var(--main-color);
}


.mouse3 {
    width: 50px;
    height: 50px;
    border-radius: 60px;
    position: relative;

    &::before {
        content: '';
        width: 7px;
        height: 7px;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #3f3f3f;
        border-radius: 50%;
        opacity: 1;
        animation: wheel3 2s infinite;
        -webkit-animation: wheel3 2s infinite;
    }
}

@keyframes wheel3 {
    to {
        opacity: 0;
        top: 30px;
    }


}

@-webkit-keyframes wheel3 {
    to {
        opacity: 0;
        top: 30px;
    }
}



.mouse4 {
    width: 50px;
    height: 70px;
    border-radius: 60px;
    position: relative;

    &::before {
        content: '';
        width: 3px;
        height: 3px;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #444444;
        border-radius: 50%;
        opacity: 0;
        animation: wheel4 2s infinite;
        animation-delay: 1s;
        animation-duration: .5s;
        -webkit-animation: wheel2 2s infinite;
    }
}


@keyframes wheel4 {
    0% {
        opacity: 0;
        top: 50px;
        width: 5px;
        height: 5px;
    }

    50% {
        opacity: .8;
        top: 80px;
    }

    75% {
        opacity: .6;
        top: 100px;
        width: 4px;
        height: 4px;
    }

    100% {
        opacity: 0;
        top: 100px;
        width: 4px;
        height: 4px;
    }
}

@-webkit-keyframes wheel4 {
    0% {
        opacity: 0;
        top: 50px;
        width: 2px;
    }

    50% {
        opacity: 1;
        top: 80px;
        width: 3px;
    }

    80% {
        opacity: 0;
        top: 100px;
        width: 5px;
    }

    100% {
        opacity: 0;
        top: 100px;
        width: 8px;
    }
}





#header {
    min-height: 12vh;
    padding-top: 15px;
    background: url(../img/banner-inside.jpg) repeat center;
    background-attachment: fixed;
    filter: brightness(0.6);
    width: 100%;
    z-index: 88;
    position: relative;
    color: #dddacb;

}

#header a {
    color: #dddacb;
}



/* 原本正方貼上版本
#header-fixed {
    width: 100%;
    z-index: 99;
    height: auto;
    position: fixed;
    transition: 0.3s;
    margin-top: 0;
    background: rgb(255 255 255 / 7%);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

} */

#header-fixed {
    width: 80vw;
    border: 2px solid #ffffff24;
    margin-top: 3vh;
    margin-left: 8vw;
    padding: 0 2vw;
    border-radius: 50px;
    /* box-shadow: -15px 0 0 -3px #dfdfdf96; */
    z-index: 99;
    height: 70px;
    position: fixed;
    transition: 0.3s;
    background: #ffffff17;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(3px);
    /* border-bottom: 1px solid rgba(255,255,255,0.13); */

}


.header-container {
    max-width: 90vw;
    /* padding-top: 10px; */
    margin: auto;
}

#header-container-inside {
    max-width: 85vmax;
    margin: auto;
}



#logo {
    width: 20%;
    padding-top: 5px;
    position: relative;
    z-index: 96;
    float: left;
    /* filter: drop-shadow(#333333d7 3px 5px 10px); */
    animation-name: loading;
    animation-duration: 0.5s;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

#logo a {
    color: #ffffff;
}


#logo img {
    max-width: 150px;

}



#case-logo {
    width: 20%;
    padding-top: 15px;
    position: relative;
    z-index: 96;
    float: left;
    /* filter: drop-shadow(#333333d7 3px 5px 10px); */
    animation-name: loading;
    animation-duration: 0.5s;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}


#cssmenu ul li:hover .menu-cn {
    transition: transform 0.3s ease, opacity .3s ease-out;
    opacity: 0;
}

#cssmenu ul li:hover .menu-en {
    transition: transform 0.3s ease, opacity .3s ease-out;
    opacity: 1;
}

.menu-cn {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 3pt;
}

.menu-en {
    opacity: 0;
    font-weight: 200;
    font-size: .8rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#cssmenu ul li:hover a {
    transition: transform 0.3s ease, opacity .3s ease-out;
}

.menubtn {
    background: #e7e7e717;
    transition: 1s
}

#btn-area {
    width: 100%;
    margin: auto;
    height: 210px;
    margin-top: -65px;
    clear: both;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background: #303030;
    /* background: #BBD2C5;
    background: -webkit-linear-gradient(to bottom, #292E49, #536976, #BBD2C5);
    background: linear-gradient(to bottom, #292E49, #536976, #BBD2C5); */

}



.btn-box-now {
    width: 400px;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    background: #ffffff;
    padding: 20px 0 5px 0;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    font-weight: bold;
    color: rgb(85, 85, 85);
    margin-top: 160px;
    box-shadow: 5px -5px 10px #7a7a7a61;
    cursor: default;
}



.btn-box {
    width: 400px;
    margin: 0 5px;
    margin-top: 160px;
    text-align: center;
    background: #f9f9f970;
    backdrop-filter: blur(3px);
    border-top: #eeeeee 2px solid;
    border-right: #eeeeee 2px solid;
    border-left: #eeeeee 1px solid;
    display: inline-block;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;


}

.btn-box a {
    padding: 10px 0 0 0;
    color: rgb(85, 85, 85);
    display: block;
    font-weight: bold;
    transition: .2s;
    -webkit-transition: .2s;
    min-height: 35px;
}

.btn-box a:hover {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: block;
    background: #ffffff;
    color: #2e2e2e;
    min-height: 50px;
}


#banner {
    background: linear-gradient(87deg, #2b2b2b, #1c1c1c);
    background-attachment: fixed;
    height: 100vh;
}

#banner-slider-demo-17 {
    background-attachment: fixed;
}


#case-area {
    width: 100%;
    height: 90vh;
    padding-top: 11vh;
    position: relative;
    background: linear-gradient(87deg, #2b2b2b, #1c1c1c);
}


#case {
    display: none;

}

.case-box {
    max-width: 90%;
    height: 300px;
    position: relative;
    background: #2a2b2b;
    /* border: #cccccc 1px solid; */
    border-radius: 15px;
    overflow: hidden;
}


.case-box a::before {
    content: "";
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;

    opacity: 1;
    background: linear-gradient(90deg, rgba(29, 39, 30, 0.856) 0%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(90deg, rgba(29, 39, 30, 0.856) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(90deg, rgb(12, 14, 13) 0%, rgba(5, 5, 5, 0.575) 100%);

}

.case {
    width: 90vw;
    height: 65vh;
    display: flex;
    gap: 7px;
    margin: 7vh auto 2vh auto;

}


.case .item {
    flex: 1 1;
    border-radius: 15px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-out;
    border: 2px solid #a5a5a530;
}


.case .item a {
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    background: #0000007a;
    transition: .3s ease-in-out;
}


.case .item a:hover {
    width: 100%;
    height: 100%;
    background: none;
    transition: .3s ease-in-out;
}


.case .item:hover {
    border-radius: 15px;
    border: #171717a6 2px solid;
    transition: .3s ease-in-out;
}


.case .item1 {
    flex: 4 1;
}


.case-tit {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    text-align: left;
    padding-left: 3vw;
    font-weight: 400;
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 10px;
    z-index: 88;
    opacity: 1;

}


.case-info {
    position: absolute;
    bottom: 3vh;
    /* margin-bottom: -49.5vh; */
    width: 100%;
    text-align: left;
    padding-left: 3vw;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    z-index: 88;
    opacity: 1;

}

.case .item:hover .case-tit {
    opacity: 0;
    transition-delay: .2s;
    transition-duration: .4s;
}

.case .item:hover .case-info {
    opacity: 0;

    transition-duration: .4s;
}


.case .item:hover .case-tit.case-info {
    opacity: 1;
}

.case .item:nth-child(1) {
    background-image: url(../img/project001.jpg);

}

.case .item:nth-child(2) {
    background-image: url(../img/project003.jpg);
}


.case .item:nth-child(3) {
    background-image: url(../img/project002.jpg);
}

.case .item:nth-child(4) {
    background-image: url(../img/project004.jpg);
}

.case .item:nth-child(5) {
    background-image: url(../img/project005.jpg);
}




.case-box a {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 80;
    display: block;
    opacity: .5;

}

.case-box a:hover {
    opacity: 1;
    color: #ffffff;
    text-shadow: 3px 3px 15px #5b5b5b8d;

}




#intro-area-bg {
    width: 100%;
    height: fit-content;
    min-height: 85vh;
    padding-top: 15vh;
    background-image: url(../img/about-img.jpg);
    background-color: #2a2a2a;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.intro-area {
    width: 65VW;
    margin: 0 auto 0 auto;
    height: auto;
    display: flex;
    /* clear: both; */
    color: #ffffff;
}

.photo {
    width: 55vmin;
    height: 700px;
    display: flex;
    align-items: flex-end;

}

.photo-m {
    display: none;
}

.side {
    width: 35vmin;
    padding-left: 15vmin;
    line-height: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.side img {
    filter: drop-shadow(#85858538 3px -5px 15px);
}

.info {
    width: 42vw;
    line-height: 2.2rem;
    padding-top: 12vh;
    list-style-type: none;
    margin-left: 9vw;
    position: relative;
}

.r-side {
    width: 50%;
}



.job-title {
    padding-top: 5px;
    font-weight: 200;
}

.name {
    font-size: 1.3rem;
    font-weight: 400;
}


.text {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 200;
    line-height: 2rem;
}

.text li {
    list-style-type: '▪ ';
    margin-left: 15px;
}


.idea {
    font-size: 1rem;
    font-weight: 200;
    width: 100%;
}

.slogan {
    font-size: 1.2rem;
    width: 100%;
    font-weight: 400;
}



h2 {
    font-size: 1.8rem !important;
    font-weight: 400 !important;
    text-align: center;

}


.worklist_tit{
    width: 100%;
    text-align: left;
}

.worklist_tit_en{
    text-align: left;
    font-size: 1rem;
}

.tit-en {
    font-size: .9rem;
    line-height: 2rem;
    font-weight: 200;
    letter-spacing: 1.5px;
    padding-top: 5px;
    color: #dbdbdb;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.light {
    color: #dddacb;
}

.w {
    color: #ffffff;
}


.title-describe {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 35px;
}

#service-bg {
    width: 100%;
    /* height: 85vh; */
    padding-top: 15vh;
    padding-bottom: 15vh;
    background: linear-gradient(93deg, #2a2a2a, #1d1d1d);
    /* background: #2b2b2b; */
    background-attachment: fixed;
    position: relative;
}

#service-tit-bg {
    width: 250px;
    margin: auto;
    background: linear-gradient(91deg, #242424, #222222);
    z-index: 33;
    position: relative;
}

.service-group {
    max-width: 70vw;
    padding: 10vh 0 10vh 0;
    margin: -6vh auto 0 auto;
    border: 3px solid #48524a;
    border-radius: 10px;
}


.service-area {
    max-width: 60vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.service {
    width: 25vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 10px;
}


.service-icon {
    margin: 10px 0;
}

.service-icon img {
    max-width: 90px;
    height: auto;
}

.service-item {
    width: 140px;
    min-height: 80px;
    padding: 10px 5px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    color: #ffffff;
}


#sop-bg {
    width: 100vmax;
    height: fit-content;
    margin: auto;
    /* background: linear-gradient(to top,#404641, #637667); */
    background-image: url(../img/good-area-bg.jpg);
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    padding-bottom: 5vh;
}

.process-bg {
    width: 100vw;
    height: 200px;
    padding-top: 13vh;
    background: url(../img/process.jpg);
    background-attachment: fixed;
    margin-bottom: -100px;
}

#sop-bg2 {
    width: 100vmax;
    height: fit-content;
    margin: auto;
    background: #464646;
    /* background: linear-gradient(to top, #4d7951,#263f2b); */
    min-height: 90vh;
    padding-top: 10vh;
}


#sop {
    max-width: 100vmin;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}


.sop-group {
    max-width: 100vmin;
    margin: auto;
    padding: 20px 0 30px 0;
}


.sop-area {
    max-width: 100%;
    margin-bottom: 10px;
    min-height: 50px;
    color: #363636;
    background: #e3e3e3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px 50px;
    /* border-radius: 7px; */
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 13px 13px 20px -10px #4444444f;
    /* border-bottom: 2px solid #a9a9a9; */
    overflow: hidden;
    border-bottom: 3px solid #e1e1e1;
}


.sop-area2 {
    max-width: 100%;
    margin: auto 0 0 30px;
    margin-bottom: 10px;
    min-height: 50px;
    color: #363636;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px 50px;
    /* border-radius: 7px; */
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 13px 13px 20px #4444443b;
    /* border-bottom: 2px solid #a9a9a9; */
    overflow: hidden;
    border-bottom: 3px solid #e1e1e1;
}

.sop-num {
    font-size: 100px;
    margin-left: -50px;
    font-weight: 600;
    color: var(--main-color);
}

.sop-item {
    width: 25%;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: var(--sec-color);

}

.sop-detail {
    width: 55%;
    font-size: 1.1rem;
    line-height: 30px;
    display: flex;
    align-items: center;

}

.next-step {
    text-align: center;
    padding: 8px;
    color: rgb(235, 235, 235);
}


#good-bg {
    width: 100%;
    height: fit-content;
    min-height: 85vh;
    padding-top: 12vh;
    background-image: url(../img/good-area-bg.jpg);
}

.good-area {
    max-width: 70vw;
    padding-bottom: 5vh;
    margin: auto;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.good-box {
    margin: 2% auto;
    width: 60%;
    border-radius: 10px;
    padding: 5%;
    background: #fff;
    box-shadow: 5px 7px 15px #85858569;
}

.good-tit {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 10px 0;
}

.good-info {
    font-size: 1.1rem;
    line-height: 2rem;
    padding: 10px 0;
}

.icon {
    max-width: 150px;
    height: 30px;
}


#footer {
    width: 100%;
    min-height: 20px;
    margin: auto;
    font-size: .8rem;
    letter-spacing: 2px;
    color: #afafaf;
    position: absolute;
    bottom: 2vh;
}


#case-footer {
    width: 100%;
    min-height: 20px;
    text-align: center;
    font-size: .8rem;
    letter-spacing: 2px;
    color: #afafaf;
    padding: 25px 0 50px 0;
}




:root {
    --light: #ffffff;
    --dark: #0c0c0c;
}

.container {


    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem 5rem;

    width: 100%;
    height: 70vh;
    background-image: var(--bg-color);
}

.category_container {
    --gap: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: calc(var(--gap) * 2);

    width: 100%;
    height: 100%;
}




.content {
    --active: 0;

    cursor: pointer;
    overflow: clip;

    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.5rem;
    padding: 2.5rem;
    border: 2px solid #ffffffb0;
    width: calc((100% / 5) - var(--gap));
    height: 100%;

    border-radius: 2rem;
    transition: width 0.5s ease-in-out;


}

.content:hover {
    --active: 1;
    width: calc(100% - var(--gap));
    border: 0;
   
}


.content a::before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    opacity: 1;
    background: linear-gradient(90deg, rgba(29, 39, 30, 0.856) 0%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(90deg, rgba(29, 39, 30, 0.856) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(90deg, rgb(12, 14, 13) 0%, rgba(5, 5, 5, 0.575) 100%);

}

.content a:hover::before {
    opacity: 1;
    background: linear-gradient(90deg, rgba(23, 29, 26, 0.904) 0%, rgba(255, 255, 255, 0) 30%);
    background: -moz-linear-gradient(90deg, rgba(23, 29, 26, 0.904) 0%, rgba(255, 255, 255, 0) 30%);
    background: -webkit-linear-gradient(90deg, rgba(8, 8, 8, 0.904) 0%, rgba(255, 255, 255, 0) 30%);
}

.content a {
    display: block;
    z-index: 8;
}

.content img {
    position: absolute;
    z-index: -20;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.content .profile_image {
    opacity: calc(1 - var(--active));

    transition: opacity 0.3s ease-in-out;
}

.profile_detail {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 12rem;
    transition: transform 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s;


}

.profile_detail span {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--light);
    text-wrap: nowrap;
}

.profile_detail p {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--light);
}

.profile_quote {
    width: 22rem;
    transform: translate(0, calc((1 - var(--active)) * (100% + 2.5rem)));
}

.profile_quote p {
    font-size: 1rem;
    font-weight: 600;
    color: var(--light);
    padding-top: 20px;
    transform: translate(0, calc((1 - var(--active)) * (100% + 2.5rem)));
    transition: transform 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.1s;
}


.wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s;

   
}

.profile_quote {
    min-height: 0;
    transform: translateY(50%);
    opacity: 0;
    transition:
        opacity 0.8s ease-in-out,
        transform 0.8s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s;
}


.content:hover .wrapper {
    grid-template-rows: 1fr;
}


.content:hover .profile_quote {
    transform: none;
    opacity: 1;
}







/*--------------------------------------內頁--------------------------------------------------------*/







#inside-banner {
    width: 100%;
    min-height: 12vh;
    background: url(../img/banner-inside.jpg) repeat center;
    filter: brightness(0.6);
}


#inside-main {
    max-width: 100vw;
    height: fit-content;
    padding-top: 50px;
    line-height: 30px;
    background: #333;
    color: #fff;

}





#project-area {
    max-width: 85vw;
    height: 71vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 30px;
    color: #303030;
}

#project-info-area {
    width: 20vmin;
    color: #fff;
    position: fixed;
    left: 5vw;
    top: 20vh;
}

.project-title {
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 50px;

}

.project-info {
    font-size: 0.9rem;
    line-height: 3rem;

}

#project-main {
    width: 75vw;
    margin-left: 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.project-img {
    width: 45%;
    max-height: 350px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 10px 50px 30px;
    position: relative;
    transition: .3s ease-out;
    -webkit-transition: .3s;
}


.project-img a:hover img {
    opacity: .7;
    transition: .5s ease-out;
}


.project-img:hover::after {
    content: '點擊放大';
    font-size: 1.125rem;
    font-weight: 500;
    pointer-events: none;
    backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    color: #ffffff;
    background: rgba(54, 54, 54, 0.081);
    border-top: 1px solid #ffffff32;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 5px; */
    width: 100%;
    height: 18%;
    position: absolute;
    /* top: 33%;
    left: 28%; */
    bottom: 0;
    left: 0;

}


.material-symbols-outlined {
    padding-top: 20px;
    color: #ffffff;
    width: 50px;
    float: right;
    display: flex;
    flex-wrap: nowrap;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24,
}

.back {
    width: 120px;
    height: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    font-size: .7rem;
    background: #323232;
    border: 1px solid rgb(212 212 212);
}


.back a {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fefefe;
    border-radius: 3px;

}

.back a:hover {
    text-decoration: none;
    border: 0;
    color: #efefef;
    background: rgb(19, 91, 74);
    border-radius: 3px;
}


.project-area {
    width: 100%;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 30px;
    color: #303030;
}





.back-m {
    display: none;
}

.inside-tit {
    width: 800px;
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
}

.inside-info {
    padding: 15px;
    font-size: .5rem;
    line-height: 40px;

}



.insdie-text li::before {
    content: '▪　';
    font-weight: bold;
    color: #525252;
}


.tag-describe {
    width: 100%;
    min-height: 50px;
    text-align: center;
    font-size: .8rem;
    line-height: .5rem;

}


#case-main {
    width: 100vw;
    height: fit-content;
    padding-top: 50px;
    line-height: 30px;
    background: #333;
    color: #fff;

}

#inside-case-area {
    max-width: 80vw;
    height: fit-content;
    padding-bottom: 5vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 30px;
    color: #303030;
    align-content: flex-start;
}



.project {
    background: #000000;
    width: 35vw;
    height: 45vh;
    margin: 20px;
    z-index: 1;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.project a {
    max-width: 300px;
    min-width: 100px;
    opacity: 0.6;
    height: fit-content;
    transition: .5s;
    -webkit-transition: .5s;
}

.project a:hover {
    opacity: 1;
}

.project a:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;
    opacity: 1;
}


.project-tit {
    margin-top: -28vh;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 3px 3px 10px #555555;
    opacity: 1;
    cursor: pointer;
}

.project:hover .project-tit {
    opacity: 0;
    transition-duration: .2s;
}

.project-d {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 3px 3px 5px #353535;
    opacity: 1;
    cursor: pointer;
}

.project:hover .project-d {
    opacity: 0;
    transition-duration: .5s;
}




.box-tit {
    margin: 8px auto;
    text-align: center;
    font-size: .5rem;
    line-height: 20px;
}

.box-btn {
    display: none;
    width: 80px;
    margin: 30px auto -80px auto;
    box-shadow: 5px 6px 20px #ffc275cb;
    z-index: 99;
    position: relative;
    padding: 15px 25px;
    border-radius: 7px;
    text-align: center;
    background-color: rgb(255 130 23 / 60%);
    backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    color: #ffffff;
    font-size: 18px;
    border: #f9c29f 1px solid;
    transition: .5s;
    -webkit-transition: .5s;


}

.box3 {
    max-width: 400px;
    min-width: 100px;
    height: fit-content;
    margin: 10px;
    /* border: 1px solid #f5f5f5; */
    border-radius: 7px;
    overflow: hidden;
    max-height: 550px;

}

.box3 a {
    max-width: 550px;
    min-width: 100px;
    height: fit-content;
    transition: 1s;
    -webkit-transition: 1s;
}


.box3 a:hover img {
    opacity: .6;
}

.box3 a:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}

.box3 img {
    box-shadow: 5px 5px 15px #e0e0e0c7;
}



.box2 {
    max-width: 600px;
    min-width: 100px;
    height: fit-content;
    margin: 10px;
    /* border: 1px solid #f5f5f5; */
    border-radius: 7px;
    overflow: hidden;

}

.box2 a {
    max-width: 550px;
    min-width: 100px;
    height: fit-content;
    transition: 1s;
    -webkit-transition: 1s;
}


.box2 a:hover img {
    opacity: .6;
}

.box2 a:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}

.box2 img {
    box-shadow: 5px 5px 15px #e0e0e0c7;
}


.box {
    max-width: 1210px;
    min-width: 300px;
    height: fit-content;
    margin: 10px;
    /* border: 1px solid #f5f5f5; */
    box-shadow: 5px -5px 10px #f5f5f5c7;
    border-radius: 7px;
    overflow: hidden;
    background: #626262;


}

.box a {
    max-width: 1200px;
    min-width: 300px;
    height: fit-content;
    transition: 1s;
    -webkit-transition: 1s;
}


.box a:hover img {
    opacity: .6;
}

.box a:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}

.link-btn {
    max-width: 100px;
    background: #21df41;

    padding: 10px 25px;
    margin: 15px auto;
    border-radius: 7px;
    text-align: center;
}

.link-btn a {
    color: #ffffff;
    display: block;
    transform: .5s;
    -moz-transform: .5s;
}

.link-btn:hover {
    opacity: 0.6;
}






/*產品頁*/
.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product li {
    max-width: 300px;
    max-height: 450px;
    margin: 10px;
    overflow: hidden;

}

.product li a {
    display: block;
    border: #c2c2c2 1px solid;
}


.product li:hover {
    border: #70cac6 2px solid;
}

/*大型專案*/
.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page li {
    max-width: 400px;
    max-height: 500px;
    margin: 10px;
    overflow: hidden;

}

.page li a {
    display: block;
    border: #dddddd 1px solid;
    transition: .2s;
    -webkit-transition: .2s;
}


.page li a:hover {
    border: #70cac6 2px solid;
}

/*前期作品*/
.first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first li {
    max-width: 250px;
    max-height: 250px;
    margin: 10px;
    overflow: hidden;

}

.first li a {
    display: block;
    border: #c2c2c2 1px solid;
    transition: .2s;
    -webkit-transition: .2s;
}


.first li a:hover {
    border: #70cac6 2px solid;
}

/*Banner*/



/*內頁小分類頁籤*/

.tag-area {
    max-width: 1600px;
    margin: 30px auto;
    font-size: 15px;
    display: flex;
    /*宣告為 flex*/
    flex-wrap: wrap;
    /*是否換行排列*/
    justify-content: center;
    /* 水平置中*/
    cursor: pointer;

}

.tag {
    width: 150px;
    margin: 5px;
    text-align: center;
    color: #464646;

}


.tag a {
    color: #3c3c3c;
    display: block;
    border: #c5c5c5 1px solid;
    padding: 8px 0;
    border-radius: 40px;
    transition: .2s;
    -webkit-transition: .2s;

}

.tag a:hover {
    background: #4c4c4bfc;
    color: #ffffff;
    border: #747474 1px solid;
}

.tag-now {
    width: 150px;
    margin: 5px;
    text-align: center;
    background: #4a4a4a;
    color: #f9f9f9;
    padding: 8px 0;
    border-radius: 40px;
    cursor: default;
}


#header-m {
    display: none;
}


#m-project {
    display: none;
}

.contact {
    max-width: 170px;
}

.contact img {
    max-width: 80%;

}

.mail a {
    color: #4edba5;
}

.mail a:hover {
    color: #21df41;
}

/* 選單 home icon*/
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 30
}



.focus {
    /* border-bottom: 2px solid #ffffff; */
    transition: .7s;
    background: #ffffff13;
}




@media only screen and (max-width: 1440px) {



    #case-logo {
        width: 30%;
        padding-left: 5vw;
    }

    .side img {
        max-width: 300px;
    }

    .intro-area {
        width: 100vmax;
        min-height: 40vh;
        margin: 3vh auto 0 auto;
        height: auto;
        padding: 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;
        clear: both;
    }


    .info {
        width: 40vmax;
    }


    #service-bg {
        padding-top: 10vh;
        height: fit-content;
        padding-bottom: 10vh;
    }

    .service-group {
        max-width: 100vmin;
        height: fit-content;
        padding: 8vh 10vw 3vh 10vw;
        margin: -5vh auto 0 auto;
        border: 2px solid #8dc095;
    }


    .service-area {
        max-width: 80vw;
    }

    .service {
        width: 15vmax;
    }

    .service-icon img {
        max-width: 100px;
    }


    .sop-group {
        max-width: 70vmax;
    }

    #tool-bg {
        max-width: 120vmin;
        margin: auto;
        min-height: 50px;
    }


    #skill-bg {
        width: 100vmax;
        margin: auto;
        min-height: 60vh;
    }



    #inside-main {
        max-width: 100vw;
        height: fit-content;
        min-height: 90vh;
        padding-top: 50px;
        line-height: 30px;
        background: #333;
        color: #fff;

    }

    #project-main {
        margin-left: 20vw;
    }



    .project {
        background: #000000;
        width: 35vw;
        height: 40vh;
        margin: 20px;
        z-index: 1;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
    }

    .project a {
        max-width: 300px;
        min-width: 100px;
        opacity: 0.6;
        height: fit-content;
        transition: .5s;
        -webkit-transition: .5s;
    }


    .project-img {
        width: 44%;
        max-height: 300px;
        border-radius: 5px;
        margin: 15px;
    }


    .mail {
        text-align: left;
        height: 100px;
    }



}


@media only screen and (max-width: 1024px) {



    .content {
    
        width: calc((100% / 1) - var(--gap));

    
    
    }


    #case-logo {
        width: 30%;
        padding-left: 5vw;
    }


    .service-group {
        max-width: 100vmin;
        height: fit-content;
        padding: 8vh 5vw 3vh 5vw;
        margin: -5vh auto 0 auto;
        border: 2px solid #8dc095;
    }

    .header-container {
        max-width: 90vmax;
    }

    #logo {
        width: 15vmin;
    }

    #case-area {
        min-height: 70vh;
    }


    .case-box {
        width: 90%;
        margin: auto;
    }


    .case-tit {
        font-size: 1.8rem;
    }

    .intro-area {
        width: 100vmax;
        margin: 3vh auto 0 auto;
        height: auto;
        padding: 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        clear: both;
    }


    .info {
        width: 50vmax;
    }

    .project {
        background: none;
        width: 35vw;
        height: 300px;
        margin: 10px;
    }

    .project-tit {
        margin-top: -18vh;
    }


    #good-bg {
        width: 100%;
        height: fit-content;
        min-height: 85vh;
        padding-top: 15vh;
        background-image: url(../img/good-area-bg.jpg);
    }

    .good-area {
        max-width: 90vw;
        padding-bottom: 5vh;
        margin: auto;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
    }

    .good-box {
        margin: 2% auto;
        width: 80%;
        border-radius: 10px;
        padding: 5%;
        background: #fff;
        box-shadow: 5px 5px 15px #ccc;
    }

    .good-tit {
        font-size: 1.2rem;
        line-height: 1.8rem;
        padding: 10px 0;
    }

    .good-info {
        font-size: 1.1rem;
        line-height: 1.7rem;
        padding: 10px 0;
    }

    .icon {
        max-width: 150px;
        height: 30px;
    }

    #intro-area-bg {
        background-position: -40%;
    }


    #project-area {
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
    }

    #project-main {
        margin-left: 20vw;
    }

    .project-img {
        width: 90%;
        max-height: fit-content;
        overflow: hidden;
        border-radius: 5px;
        margin: 15px 5px 15px 25px;

    }


    #project-info-area {
        width: 20vw;
        position: fixed;
        top: 15vh;
        left: 3vw;
    }


}


@media only screen and (max-width: 768px) {

    .menu-en {
        display: none;
    }

    .service-group {
        max-width: 80vmin;
        height: fit-content;
        padding: 8vh 1vw 1vh 1vw;
        margin: -5vh auto 0 auto;
        border: 2px solid #8dc095;
    }

    section {
        height: fit-content;
    }

    #header-fixed {
        min-height: 80px;
        width: 100%;
        border-radius: 0;
        margin-top: 0 !important;
        margin-left: 0;
        background: #1f1f1fef !important;

    }

    .header-container {
        max-width: 90vmax;
        padding-top: 0;
    }

    #cssmenu {
        float: right;
    }

    #logo {
        margin-left: 2%;
        width: 40%;
        position: relative;
        margin-top: 10px !important;
        float: left;
    }

    #logo img {
        max-width: 120px !important;

    }

    #banner {
        height: 95vh;
    }

    h2 {
        padding-bottom: 5px;
    }

    .project-tit {
        margin-top: -40%;
    }


    #case {
        display: block;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
    }

    .case {
        display: none;
    }

    #case-area {
        padding-top: 0;
        height: fit-content;
    }

    .case-tit {
        font-size: 1.5rem;
    }

    .case-box {
        max-width: 90%;
        height: auto;
        overflow: hidden;
        text-shadow: 3px 3px 10px rgb(93, 93, 93);
        margin-bottom: 1vh;
    }


    .case-box a {
        opacity: .8;
        padding-top: 0;
    }



    .service-item {
        font-size: 1.2rem;
    }


    #service-tit-bg {
        width: 250px;
        margin: auto;
        background: linear-gradient(91deg, #262626, #212121);
        z-index: 33;
        position: relative;
    }

    #intro-area-bg {
        width: 100%;
        height: fit-content;
        padding-top: 100px;
        background-image: none;
        background: radial-gradient(ellipse at center, #3c3c3c, #2a2a2a);


    }


    .intro-area {
        width: 100vmin;
        height: fit-content;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
        clear: both;

    }

    .photo {
        display: none;
    }

    .photo-m {
        display: block;
    }

    .side img {
        max-width: 220px;
    }

    .info {
        width: 100%;
        padding: 15px 5px;
        line-height: 2.5rem;
        list-style-type: none;
        font-size: 1rem;
    }


    .text {
        width: 90%;
        margin: auto;
        margin-top: 10px;
        font-size: 1rem;
    }

    .text li {
        list-style-type: square;
        margin-left: 5px;
    }


    .side {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side img {
        max-width: 250px;
    }



    .title {
        font-size: 2.5rem;
        padding-bottom: 15px;
    }

    .job-title {
        font-size: 1.5rem;
    }

    .idea {
        font-size: 1.8rem;
    }

    .slogan {
        font-size: 1.5rem;
    }


    #service-bg {
        padding-top: 10vh;
        height: fit-content;
    }

    .service-area {
        max-width: 98vw;
        margin: auto;

    }


    .service {
        width: 30vmin;
        padding: 0 10px;
        margin: 0;
    }

    .service-icon img {
        max-width: 90px;
    }


    #sop-bg {
        width: 100%;
    }

    #sop-bg2 {
        width: 100%;
    }

    .sop-area {
        margin: 5px 15px;
        padding: 15px 10px;
    }

    .sop-num {
        font-size: 6rem;
        margin-left: -30px;
        font-weight: bold;
    }

    .sop-item {
        width: 60%;
        font-size: 1.6rem;
        line-height: 2.5rem;
    }

    .sop-detail {
        width: 60%;
        margin-left: 15%;
        line-height: 2rem;
    }

    .next-step {
        width: 100%;
        padding: 0;
    }



    .contact {
        margin: auto;

    }

    .mail {
        text-align: center;
        height: 100px;
        width: 95%;
    }



    /*內頁*/

    #inside-logo {
        font-weight: bolder;
        padding: 15px;
        margin-top: 5px;
        margin-left: 20px;
        width: 100%;
        font-size: 30px;
        position: relative;
        float: left;

    }

    .wrapper {
        display: none;
    }

    #m-project {
        display: block;
    }

    .project-box {
        width: 90%;
        margin: 50px auto;
    }

    .project-box img {
        border-radius: 5px;
    }




    /* 作品列表 */

    .project {
        background: none;
        width: 30vw;
        height: 150px;
        margin: 10px;
    }

    .project a {
        max-width: 300px;
        min-width: 100px;
        opacity: 1;
        height: fit-content;
        transition: .5s;
        -webkit-transition: .5s;
    }

    #project-info-area {
        width: 80vmin;
        margin: auto;
        padding-bottom: 20px;
        position: relative;
        top: 0;
        left: 0;
    }

    #project-main {
        width: 100%;
        margin-left: 10vw;
    }

    #project-area {
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
    }

    .project-title {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .project-info {
        line-height: 30px;
    }


    .project-img {
        width: 45%;
        max-height: 300px;
        border-radius: 5px;
        margin: 15px;
    }

    .back {
        display: none;
    }

    .back-m {
        display: block;
        width: 150px;
        height: 60px;
        margin: auto;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 5px;
        background: #3d3d3d;
        border: 1px solid rgb(212 212 212);
    }


    .back-m a {
        width: 150px;
        height: 60px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #9c9c9c;
        font-size: 1rem;
    }



    .project-info ul li {
        width: 50%;
        float: left;

    }

    .side {
        padding-left: 0;
        line-height: 3rem;
    }

    .r-side {
        width: 90%;
    }

    .job-title {
        text-align: center;
    }

    .name {
        text-align: center;
    }

    .idea {
        text-align: center;
    }

    .slogan {
        text-align: center;
    }


    #footer {
        padding-top: 0;
        text-align: center;
        width: 90%;
    }

}




@media only screen and (max-width: 426px) {

    #header-fixed {
        margin-top: 0 !important;

    }



    #case-logo {
        width: 50%;
        padding-left: 5vw;
    }

    #logo {
        margin-top: 10px !important;
    }

    h2 {
        margin-bottom: 15px;
    }

    
    .case-box {
        max-width: 90%;
 
    }


    .project {
        background: none;
        width: 90vw;
        height: 200px;
        margin: 10px;
    }

    .project-img {
        width: 90%;
        max-height: auto;
        border-radius: 5px;
        overflow: hidden;
        margin: 15px;
    }

    #project-main {
        margin-left: 2vw;
    }


    .next-btn {
        position: absolute;
        top: 75vh;
        left: 44vw;
        z-index: 999;
        color: #ffffff;
    }

    .next-btn2 {
        display: none;
    }

    #service-tit-bg {
        width: 250px;
        margin: auto;
        background: linear-gradient(91deg, #282828, #202020);
        z-index: 33;
        position: relative;
    }
    

    .service {
        width: 35vmin;
    }



    .text li {
        list-style-type: square;
        margin-left: -10px;
    }


    #footer {
        padding-top: 0;
        text-align: center;
        width: 90%;
    }
}